// colour scheme
// LINK: https://coolors.co/c7905a-f0d4a1-5b5c24-fff9e6-e5e0d0-94948e-292f36
$theme-color-1: #C7905A;
$theme-color-2: #F0D4A1;
$theme-color-3: #5B5C24;
$theme-color-4: #FFF9E6;
$theme-color-5: #E5E0D0;
$theme-color-6: #94948E;
$theme-color-7: #292F36;

.bg-theme-color-6 {
  background-color: $theme-color-6;
}

$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;